main {
  .hoho {
    background-image: url(../../../public/images/bg-DSC07861-JihoMetric.jpg);
    height: 70dvh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}