@use "../components/CarouselScroller/carousel-scroller";
@use "../components/Gallery/gallery";
@use "../layout/Intro/intro";
@use "../layout/NavMenu/nav-menu";
@use "../layout/CarouselBanner/carousel-banner";
@use "../layout/ThreeThings/three-things";
@use "../layout/Portfolio/portfolio";

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&display=swap');


body {
  background-image: url(../../public/images/bg1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  background-color: rgba(224, 221, 221, 0.463);
  background-blend-mode: color;
}

h1, h2, h3 {
  font-family: 'Bungee', cursive;
}

h1 {
  text-shadow: 0px 0px 22px #f70cbc;
  font-size: clamp(3rem, 6vw, 6rem);
} 

h2 {
  font-size: clamp(3rem, 4vw, 5rem);
} 

h3 {
  font-size: clamp(1.2rem, 4vw, 2rem);  
}

#portfolio, 
#special-sauce, 
#nom-nom, 
#day-in-life {
  scroll-margin: 4em;
  width: 99.9%;
  margin: 0 auto;
}

section {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.backdrop-effect {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: brightness(100px);  
  -webkit-backdrop-filter: brightness(100px);  
  backdrop-filter: blur(3px);  
  -webkit-backdrop-filter: blur(3px);
}

.cursor-pointer {
  cursor: pointer;
}

#mozarts-ghost {
  position: fixed;
  opacity: 1;
  bottom: 0;
  left: 10px;
  padding: 10px;
}

#mozarts-ghost a:link,
#mozarts-ghost a:visited {
  color: rgb(76, 76, 159);
  text-decoration: none;
}

#mozarts-ghost a:hover {
  color: rgb(195, 0, 255);
}