#special-sauce {
  h2 {
    font-family: 'Bungee Spice', cursive;
    text-shadow: 0 0 20px rgba(4, 25, 0, 0.884);
  }

  h3 {
    font-size: clamp(2.0rem, 4vw, 2.5rem); 
    text-shadow: 0 0 20px rgba(225, 10, 237, 0.884);
    margin-top: 1.1rem;
  }

  .three-things-panel {
    img {
      border: 3px solid rgba(255, 0, 170, 0.727);
      border-radius: 13px;     
    }

    p {
      font-size: clamp(1.0rem, 4vw, 1.3rem);
      font-weight: 600;
    }
  }
}